<h1>Home</h1>
<%= link_to "Organizations", organizations_path %>
<%= link_to "Projects", '/projects/index', method: :get %>
<%= link_to "Teams", '/teams/index', method: :get %>
<%= link_to "Tasks", '/tasks/index', method: :get %>
