<!-- Check for errors -->
<% if @human_resource.errors.any? %>
  <p>The form contains <%= pluralize(@human_resource.errors.count, "error") %></p>

  <ul>
      <% @human_resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
  </ul>

<% end %>
