<a href="<%= human_resources_path %>">Back</a>

<h1>Delete Human Resource</h1>
<p>Are you sure you want to delete this?</p>
<%= form_for(@human_resource, method: "delete") do |f| %>
  <%= f.submit "Delete" %>
<% end %>
