<% scheduleArray = get_schedule(@project) %>

<br>
<thead>
  <tr>
    <th>Time</th>
    <th>Human ID</th>
    <th>Task ID</th>
  </tr>
</thead><br>

<% scheduleArray.each do |schedule| %>
  <tr>
    <td><%= schedule[0] %></td>
    <td><%= schedule[1] %></td>
    <td><%= schedule[2] %></td>
  </tr><br>
<% end %>
