<h1>Project</h1>
<a href="<%= "/project/#{@project.id}/human_resources" %>"><button type="button">Human resources</button></a>
<a href="<%= "/project/#{@project.id}/tasks" %>"><button type="button">Tasks</button></a>
<a href="<%= schedule_project_path(@project.id) %>"><button type="button">Schedule</button></a>
