/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub 'projects'
 */

/* retains form spacing after submitting */
div.field_with_errors {
 display: inline;
}

.form-2, .form-2 form{
  display: grid;
  max-width: 800px;
  grid-template-columns: auto 1fr;
}

.form-2 label {
  padding-right: 50px;
  margin-bottom: 20px;
}

.form-2 input {
  min-width: 100px;
  max-width: 300px;
  margin-bottom: 20px;
}
