<a href="<%= "/organizations" %>">Back</a>

<h1>Delete Organization</h1>
<p>Are you sure you want to delete this?</p>
<%= form_for @organization, method: :delete do |f| %>
  <%= f.submit "Delete" %>
<% end %>
