<h1>Organization</h1>

<p>Number of users: <%= @users.count %></p><br>
<a href="<%= "/organization/#{@organization.id}/users" %>"><button type="button">View</button></a><br>
<p>Number of projects: <%= @projects.count %></p><br>
<a href="<%= "/organization/#{@organization.id}/projects" %>"><button type="button">View</button></a><br>
